doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 Read DATA from MongoDB
    hr
    ol 
     each hero in herolist
      li #{ hero.title } (#{ hero.firstname +" "+hero.lastname})