doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 hello from  pug 
    h2 #{companyname}
    h2 #{subject}

        ul 
    li 
    a(href="/") Home 
    li
    a(href="/") About 
    li
    a(href="/") Contact